Practical questions and answers
1. Write a python programme to print "hello,world!"

In [ ]:
print("hello,world!")

hello,world!

2.write a python programme that display your name and age.

In [ ]:
name='santosh'
age=28
print("my name is" ,name, "and my age is" ,age)

my name is santosh and my age is 28

3. Write a code to print all pre-defined keywords in python using keywords library.

In [ ]:
import keyword
print(keyword.kwlist)
print(f"total keywords in python: {len(keyword.kwlist)}")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total keywords in python: 35

4.write a programme that checks if a given word is a python keyword.

In [ ]:
import keyword
word = input("enter a keyword: ")

if keyword.iskeyword(word):
  print(f"{word} is a python keyword.")
else:
  print(f"{word} is not a python keyword.")

enter a keyword: where
where is not a python keyword.

5.creat a list and tuple in pyton and demonstrate how attemping an element work differently.

In [ ]:
# list - mutable

records = ["mango", 10, "age", "sugar", 28]
records [2] ="height"
print(f"modified list {records}")

modified list ['mango', 10, 'height', 'sugar', 28]

In [ ]:
# tuple
# immutable  - tuple' object does not support item assignment.

journal=("fruits", "vegitable", 174.5,10)
journal2="height"
print(f"modified tuple {journal}")

modified tuple ('fruits', 'vegitable', 174.5, 10)

6.write a function to demonstrate the behavior of mutable and immutable arguments.

In [ ]:
def change_values(age, fruits):
    # Immutable (integer)
    age = age + 2
    print("Inside function (age):", age)

    # Mutable (list)
    fruits.append("Mango")
    print("Inside function (fruits):", fruits)


# Test
person_age = 20            # Immutable
fruit_list = ["Apple", "Banana"]   # Mutable

change_values(person_age, fruit_list)

print("Outside function (age):", person_age)   # remains 20 (unchanged)
print("Outside function (fruits):", fruit_list) # becomes ["Apple", "Banana", "Mango"]

Inside function (age): 22
Inside function (fruits): ['Apple', 'Banana', 'Mango']
Outside function (age): 20
Outside function (fruits): ['Apple', 'Banana', 'Mango']

7.write a program that performs basic arithemstics operations on two user input numbers.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

'''print("Additon:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)'''

print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter first number: 10
Enter second number: 15
Addition: 25
Subtraction: -5
Multiplication: 150
Division: 0.6666666666666666

8.Write a program to demonstrate the use of logical operator.

In [ ]:
a = True
b = False

print(f"a and b: {b and b}")
print(f"a or b: {a or b}")
print(f"not a: {not a}")
print(f"not b: {not b}")

a and b: False
a or b: True
not a: False
not b: True

In [ ]:
a = True
b = False

print(f"a and b: {b and b}")
print(f"a or b: {a or b}")
print(f"not a: {not a}")
print(f"not b: {not b}")

a and b: False
a or b: True
not a: False
not b: True

9.Write a python program to convert user input string to integer,float and boolean types'

In [ ]:
user1 = input("Enter something: ")

# Convert integer
user1 = int(user1)
print(f"Integer Values: {user1} ")

# Convert to float
user1 = float(user1)
print(f"Float Values: {user1} ")

# Convert to boolean
user1 = bool(user1)
print(f"Boolean values: {user1} ")

10.write code to demonstrate type casting with elements.

In [ ]:
# Original list with string numbers

my_list = ["10", "20", "30", "40"]

int_list = []
float_list = []
str_list = []

for item in my_list:
    int_list.append(int(item))
    float_list.append(float(item))
    str_list.append(str(item))

print("Integer list:", int_list)
print("Float list:", float_list)
print("String list:", str_list)

Integer list: [10, 20, 30, 40]
Float list: [10.0, 20.0, 30.0, 40.0]
String list: ['10', '20', '30', '40']

11.Write a program that checks ifa number is positive,negative or zero.

In [ ]:

  print("Zero")um = int(input("Enter Number: "))

if num < 0:
  print("Negative.")
elif num > 0:
  print("Positive.")
else:

Enter Number: 0
Zero

12.While a for loop to print numbers from 1 to 10

In [ ]:
# for loop
for a in frange(1,11)
print(a)

13.Write a python program to find the sum of all even numbers between 1 to 50.

In [ ]:
total = 0

for i in range(1, 51):
  if i % 2 == 0:
    total = total + i

print("Sum of even numbers from 1 to 50 is:", total)

Sum of even numbers from 1 to 50 is: 650

14.Write a program to reverse a string using a while loop.

In [ ]:
word = "Carrot"
reversed_word = ""
i = len(word) - 1

while i >= 0:
    reversed_word += word[i]
    i -= 1

print(reversed_word)

torraC

15.write a python to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
num = int(input("Enter a number: "))

factorial = 1   # start with 1 because multplyig with 0 makes everything 0
i = 1

while i <= num:
    factorial = factorial * i   # multiply step by step
    i += 1

print(f"The factorial of {num} is {factorial}")

Enter a number: 5
The factorial of 5 is 120